
header img,
footer img{
  height: 50px;
}

main{
  height:calc(100vh - 166px);
  background-color: rgb(16, 126, 199);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_game_grid{
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 500px;
  height: 500px;
}

.square100,
.square81,
.square49{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  color: white;
}

.square100{    
  width: calc(100% / 10);
  height: calc(100% / 10);
}  

.square81{    
  width: calc(100% / 9);
  height: calc(100% / 9);
}  

.square49{    
  width: calc(100% / 7);
  height: calc(100% / 7);
}  

.square100 .square_number,
.square81 .square_number,
.square49 .square_number{
  color: black;
  font-weight: bold;
}

.square100 .secret_number,
.square81 .secret_number,
.square49 .secret_number{
  display: none;
}

.square100.clicked .secret_number,
.square81.clicked .secret_number,
.square49.clicked .secret_number{
  display: block;
}

.square100.clicked .square_number,
.square81.clicked .square_number,
.square49.clicked .square_number{
  display: none;
}

.square100.clicked.even,
.square81.clicked.even,
.square49.clicked.even{
  background-color: rgb(8, 137, 94);
}

.square100.clicked.odd,
.square81.clicked.odd,
.square49.clicked.odd{
  background-color: brown;
}